<!-- Load necessary scripts and stylesheets -->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.css" rel="stylesheet">

 <!-- Add a paragraph to display the length of visCountries -->
 <p>Total countries visited: <span id="visitedCount"></span></p>

<div id="svgMap"></div>

<script src="{{ base_path }}/assets/js/travel.js"></script>
